services:
  - type: web
    name: gemini-live-translator-backend
    env: node
    plan: free
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: PORT
        value: 10000
      - key: API_KEY
        sync: false
      - key: DEEPGRAM_API_KEY
        sync: false
